<!DOCTYPE HTML>
<html>
    <head>
        <link rel="shortcut icon" type="image/png/ico" href="/src/Images/favicon.png" />
        <title>TypeScript/Reactjs Hybrid</title>
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>